<h1>New sim_staff</h1>

<% form_for(@sim_staff) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sim_team_id %><br />
    <%= f.text_field :sim_team_id %>
  </p>
  <p>
    <%= f.label :real_staff_id %><br />
    <%= f.text_field :real_staff_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sim_staffs_path %>