<h4 class="f1omg">Site Administration</h4>
<hr class="f1omg_hr"/>

<%= link_to 'Staff Positions', staff_positions_path %>
<br/>

<%= link_to 'Thech Part Types', tech_part_types_path %>
<br/>

<%= link_to 'Real Teams', real_teams_path %>
<br/>

<%= link_to 'Real Staff', real_staffs_path %>
<br/>

<%= link_to 'Real Tech Parts', real_tech_parts_path %>
<br/>

<%= link_to 'Sim Teams', teams_path %>
<br/>

<%= link_to 'Sim Staff', sim_staffs_path %>
<br/>
