<div class="f1omg_menuitem"><%= link_to 'Home', welcome_path %></div>
<div class="f1omg_menuitem"><%= link_to 'Your Team', yourteam_path %></div>
<div class="f1omg_menuitem"><%= link_to 'Dashboard', dashboard_path %></div>
<div class="f1omg_menuitem"><%= link_to 'Help', help_path %></div>
<div class="f1omg_menuitem"><%= link_to 'Adimn', admin_path %></div>