<% if logged_in? %>				
	<div class="f1omg_loginbaritem">Logged in as: <%= link_to h(current_user.name), user_path(current_user) %></div>
	<div class="f1omg_loginbaritem"><%= link_to 'Account', edit_user_path(current_user) %></div>
<!--	<div class="f1omg_loginbaritem"><%= link_to 'Change Password', change_password_path %></div> -->
	<div class="f1omg_loginbaritem"><%= link_to 'Log Out', logout_url %></div>
	<% if current_user.has_role?('administrator') %>
		<div class="f1omg_loginbaritem"><%= link_to 'Administer Users', users_path %></div>
    <% end %>
<% else %>
	<div class="f1omg_loginbaritem"><%= link_to 'Log In', new_session_path %></div>
    <div class="f1omg_loginbaritem"><%= link_to 'Sign Up', new_user_path %></div>
    <div class="f1omg_loginbaritem"><%= link_to 'Forgot Password?', forgot_password_path %></div>
<% end %>     
