<h1>Listing sim_teams</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Ownerid</th>
    <th>Title</th>
    <th>Money</th>
  </tr>

<% @sim_teams.each do |sim_team| %>
  <tr>
    <td><%=h sim_team.id %></td>
    <td><%=h sim_team.ownerId %></td>
    <td><%=h sim_team.title %></td>
    <td><%=h sim_team.money %></td>
    <td><%= link_to 'Show', sim_team %></td>
    <td><%= link_to 'Edit', edit_sim_team_path(sim_team) %></td>
    <td><%= link_to 'Destroy', sim_team, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sim_team', new_sim_team_path %>