<h1>Editing real_staff</h1>

<% form_for(@real_staff) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :staff_position_id %><br />
    <%= f.text_field :staff_position_id %>
  </p>
  <p>
    <%= f.label :real_team_id %><br />
    <%= f.text_field :real_team_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @real_staff %> |
<%= link_to 'Back', real_staffs_path %>