<p>
  <b>Id:</b>
  <%=h @real_team.id %>
</p>

<p>
  <b>Title:</b>
  <%=h @real_team.title %>
</p>

<p>
  <b>Logourl:</b>
  <%=h @real_team.logourl %>
</p>


<%= link_to 'Edit', edit_real_team_path(@real_team) %> |
<%= link_to 'Back', real_teams_path %>