<h1>New real_tech_part</h1>

<% form_for(@real_tech_part) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tech_part_iype_id %><br />
    <%= f.text_field :tech_part_iype_id %>
  </p>
  <p>
    <%= f.label :real_team_id %><br />
    <%= f.text_field :real_team_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', real_tech_parts_path %>